<mat-toolbar>
    <div class="name">
        <i id="ico" class="far fa-envelope"></i>
        <i id="icoo" class="far fa-bell"></i>
                <div class="nam" [matMenuTriggerFor]="beforeMenu">
            <img id="im" src="assets/Forma 2.png" alt="user" style="width: 40px; height: 40px; border-radius: 50px;" >
            <i id="arr" class="fas fa-chevron-down"></i>
            <mat-menu #beforeMenu="matMenu" xPosition="before">
                <div class="da">Configuracion</div><br>
                <mat-divider></mat-divider>
                <button mat-menu-item [routerLink]="['/perfil']" routerLinkActive="router-link-active" >Perfil</button>
                <mat-divider></mat-divider>
                <button type="submit" (ngSubmit)="outlogout" mat-menu-item>Salir</button>
              </mat-menu>
        </div>
    </div>
</mat-toolbar>

<mat-card>
    
    
</mat-card>